* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* global */
body {
  background: rgb(27, 27, 27);
  color: white;
}

.center {
  max-width: 1400px;
  width: 90vw;
  margin: 0 auto;
}

/* navbar */
.header {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.nav__brand h1 {
  font-size: 2rem;
  color: rgb(75, 226, 226);
  letter-spacing: 1px;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 75px;
  align-items: center;
}

.nav__container {
  display: none;
}



.nav__link {
  text-decoration: none;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav__link:hover {
  color: rgb(75, 226, 226);
}



@media screen and (min-width: 992px){
  .nav__container {
    display: grid;
  }

  .nav__links {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    gap: 2rem;
  }
}

/* hamburger */
.hamburger__container {
  display: flex;
  justify-content: flex-end;
}

.hamburger {
  background:rgb(75, 226, 226);
  width: 30px;
  height: 3px;
  border-radius: 1px;
}

@media screen and (min-width: 992px){
  .hamburger__container {
    display: none;
  }
}

/* hero */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.hero__container,
.hero__buttons {
  max-width: 1400px;
}

.hero__buttons {
}

.hero__name {

}

.hero__title {

}